*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#newBook-form{
    padding: 1rem;
}
#books-container{
    margin: auto;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(356px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
}
#card-footer{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 356px;
}

.footer{
    display: flex;
    height: 50px;
    position: sticky;
    background-color: #343a40;
    justify-content: space-around;
    align-items: center;
}

h6:hover{
    text-transform: uppercase;
}
